[Desktop Entry]
Type=Application
Name=TikTok
Comment=TikTok Desktop Application
GenericName=Social Media Client
Exec="/home/rhythmcreative/tiktok-repo/tiktok.sh"
Icon=tiktok-tiktok
Terminal=false
Categories=Network;AudioVideo;
Keywords=TikTok;Social;Media;Videos;Shorts;
StartupWMClass=TikTok
Version=1.0
